$font-size: 20px;
$line-height: 35px;

.root {
    height: #{($line-height + 2px) * 3};

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;

    align-items: center;
}


.input {

    flex-grow: 1;

    border: 1px solid black;

    position: relative;

    transition: height .5s;

    &--default {
        composes: input;
        height: #{$line-height + 2px};
    }

    &--expanded {
        composes: input;
        height: #{($line-height + 2px) * 3};
    }


    input {
        width: 100%;

        border-radius: 0;

        outline: none;
    
        font-size: $font-size;
        line-height: $line-height;
    
        padding: 0 5px;
    
        border: none;

        transition: opacity .3s;

        &::placeholder {
            color: #a5a5a5
        }
    }
}


.button {
    font-size: $font-size;
    line-height: $line-height;
    text-align: center;

    display: block;

    background: white;
    overflow: hidden;

    transition: width .5s, padding .5s, border .5s, margin-left .5s;

    &--hidden {
        composes: button;
        width: 0px;

        padding: 0;

        border: 0px solid transparent;

        margin-left: 0px;
    }

    &--visible {
        composes: button;
        width: 56px;

        padding: 0 2px;

        border: 1px solid black;
        
        margin-left: 10px;
    }
}

.searching {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    font-size: $font-size;
    line-height: $line-height;
    text-align: center;

    transition: opacity .5s, visibility .5s;

    &--visible {
        composes: searching;
        opacity: 1;
        visibility: visible;
    }

    &--hidden {
        composes: searching;
        opacity: 0;
        visibility: hidden;
    }
}

.data {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    animation: fade-in .3s linear .5s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.display {
    height: calc(100% - 4px);
    min-width: 25%;
    max-width: 25%;

    margin-top: 2px;
    margin-left: 2px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border: 1px solid black;
}

.title {
    margin: 2px 0 0;

    width: 100%;

    overflow: hidden;
    
    font-size: $font-size;

    margin-left: 10px;
}

.info {
    display: flex;

    height: $line-height * 2;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    background-color: #fff;

    border: 1px solid black;

    border-radius: 50%;

    &:not(:last-child) {
        margin-right: 20px;
    }
}