.root {
    padding: 20px;

    overflow: hidden;

    min-height: 100vh;
}

.sidebar {
    position: fixed;
    
    height: 100%;
    width: 100%;

    z-index: 10;

    transition: left .3s ease-out, top .3s ease-out;


    border: 1px solid black;

    &--opened {
        composes: sidebar;
        top: 0;
    }

    &--closed {
        composes: sidebar;
        top: 100px;
    }

    &--right {
        composes: sidebar;

        &--opened {
            composes: sidebar--opened;
            left: 0;
        }
        &--closed {
            composes: sidebar--closed;
            left: 100%;
        }
    }

    &--left {
        composes: sidebar;

        &--opened {
            composes: sidebar--opened;
            left: 0;
        }
        &--closed {
            composes: sidebar--closed;
            left: -100%;
        }
    }
}